@media screen and (max-width: 1024px) {
  #cover {
    background-image: url(../Images/1024/Cover.png);
    width: 100vw;
    height: 113.8vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 5.85vw;
  }

  h2 {
    font-size: 4.39vw;
  }

  #first_line img {
    width: 21.97vw;
    height: 21.97vw;
    margin-right: 3.02vw;
  }

  #problem {
    height: 24.8vw;
    background-image: url(../Images/1024/Back_Problem.png);
  }

  #problem div {
    width: 58.3vw;
    margin-left: 29.16vw;
  }

  #we_have {
    height: 33.39vw;
    background-image: url(../Images/1024/Back_We_have.png);
  }

  #we_have #warning div {
    width: 100vw;
    border-radius: 0;
  }

  #we_have h2 {
    width: 70vw;
  }

  #wetro {
    height: 30vw;
    background-image: url(../Images/1024/Back_Wetro.png);
  }

  #wetro div {
    margin-right: 13vw;
  }

  #searching {
    height: 45vw;
    background-image: url(../Images/1024/Back_Searching.png);
  }

  #searching_area {
    width: 100vw;
    height: 35vw;
    border-radius: 0;
  }

  #clocks {
    width: 94.53vw;
    height: 21.48vw;
  }

  #clocks img {
    width: 20vw;
    height: 20vw;
  }

  #final {
    height: 26.58vw;
    background-image: url(../Images/1024/Back_Final.png);
  }

  #final h2 {
    width: 73.14vw;
  }

  #footer {
    height: 46.28vw;
    background-image: url(../Images/1024/Back_Footer.png);
    background-position: center;
    align-content: flex-end;
  }

  #footer p {
    font-size: 3vw;
    width: 45vw;
  }

  #footer #left_footer a,
  #footer #right_footer a {
    font-size: 3vw;
  }

  #footer #left_footer,
  #footer #right_footer {
    width: 45vw;
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .one_to_one,
  .two_to_one,
  .three_to_one,
  .one_to_two {
    border-radius: 3vw;
  }
  #comic_1,
  #comic_2 {
    flex-direction: column;
    justify-content: space-between;
    height: 150vw;
  }
  .one_to_one {
    width: 97.918vw;
    height: 97.918vw;
  }

  .two_to_one {
    width: 97.918vw;
    height: 48.959vw;
  }

  #vertical .two_to_one {
    width: 64.58vw;
  }

  #cover {
    background-image: url(../Images/400/Cover.png);
    height: 144vw;
  }
}
