/* Стили для страницы */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

::selection {
  color: #000000;
  background-color: #ffbc00;
}

body h1,
h2,
p {
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 4.166vw;
}

h2 {
  font-size: 3.125vw;
}

#cover,
#first_line,
#problem,
#comic_1 {
  cursor: url(../Images/Cursors/Line_1.svg), auto;
}

#we_have,
#comic_2,
#wetro,
#comic_3 {
  cursor: url(../Images/Cursors/Line_Transition.svg), auto;
}

#searching,
#comic_4,
#comic_5,
#final,
#footer {
  cursor: url(../Images/Cursors/Line_2.svg), auto;
}

.one_to_one {
  width: 32.29vw;
  height: 32.29vw;
  background-image: url(../Images/Comics/One_to_one.png);
  background-size: cover;
}

.two_to_one {
  width: 64.58vw;
  height: 32.29vw;
  background-image: url(../Images/Comics/Two_to_one.png);
  background-size: cover;
}

.three_to_one {
  width: 98vw;
  height: 32.29vw;
  background-image: url(../Images/Comics/Three_to_one.png);
  background-size: cover;
}

.one_to_two {
  width: 32.29vw;
  height: 65.62vw;
  background-image: url(../Images/Comics/One_to_two.png);
  background-size: cover;
}

.one_to_one,
.two_to_one,
.three_to_one,
.one_to_two {
  border-radius: 1.041vw;
}

#comic_1 .one_to_one {
  animation: Flat 2s 0s 1 ease-in-out forwards;
}

#comic_1 .one_to_one:hover,
#comic_1 .one_to_one:active {
  animation: Alt_Flat 2s 1 ease-in-out;
}

#comic_1 .two_to_one {
  animation: Christmas_tree 2s 2s 1 ease-in-out forwards;
}

#comic_1 .two_to_one:hover,
#comic_1 .two_to_one:active {
  animation: Alt_Christmas_tree 2s 1 ease-in-out;
}

#comic_2 .two_to_one {
  animation: Near_Metro 2s 2s 1 ease-in-out forwards;
}

#comic_2 .two_to_one:hover,
#comic_2 .two_to_one:active {
  animation: Alt_Near_Metro 2s 1 ease-in-out;
}

#comic_2 .one_to_one {
  animation: Idea 2s 2s 1 ease-in-out forwards;
}

#comic_2 .one_to_one:hover,
#comic_2 .one_to_one:active {
  animation: Alt_Idea 2s 1 ease-in-out;
}

#comic_3 .three_to_one {
  animation: In_Metro 2s 2s 1 ease-in-out forwards;
}

#comic_3 .three_to_one:hover,
#comic_3 .three_to_one:active {
  animation: Alt_In_Metro 2s 1 ease-in-out;
}

#comic_4 .one_to_two {
  animation: Pair_Search 2s 2s 1 ease-in-out forwards;
}

#comic_4 .one_to_two:hover,
#comic_4 .one_to_two:active {
  animation: Alt_Pair_Search 2s 1 ease-in-out;
}

#comic_4 .two_to_one:nth-of-type(1) {
  animation: She 2s 2s 1 ease-in-out forwards;
}

#comic_4 .two_to_one:nth-of-type(1):hover,
#comic_4 .two_to_one:nth-of-type(1):active {
  animation: Alt_She 2s 1 ease-in-out;
}

#comic_4 .two_to_one:nth-of-type(2) {
  animation: He 2s 2s 1 ease-in-out forwards;
}

#comic_4 .two_to_one:nth-of-type(2):hover,
#comic_4 .two_to_one:nth-of-type(2):active {
  animation: Alt_He 2s 1 ease-in-out;
}

#comic_5 .three_to_one {
  animation: End 2s 2s 1 ease-in-out forwards;
}

#comic_5 .three_to_one:hover,
#comic_5 .three_to_one:active {
  animation: Alt_End 2s 1 ease-in-out;
}

#cover {
  background-image: url(../Images/1920/Cover.png);
  width: 100vw;
  height: 45.96vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#first_line {
  margin: 0 auto 0 auto;
  width: 91.66vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  padding: 4.17vw 0 4.17vw 0;
}

#first_line img {
  margin-right: 1.04vw;
  width: 12.5vw;
  height: 12.5vw;
}

#first_line div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#first_line h2 {
  color: rgba(255, 255, 255, 0.5);
}

#problem {
  margin: 0 auto 0 auto;
  width: 100vw;
  height: 10.93vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  background-image: url(../Images/1920/Back_Problem.png);
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* #problem img {
  margin-right: 1.04vw;
  width: 12.5vw;
  height: 19.44vh;
  object-fit: cover;
  background-position-y: 0vh;
} */

#problem div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 17.75vw;
}

#comic_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 0 1.041vw 0 1.041vw;
}

#we_have {
  height: 22.6vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  background-image: url(../Images/1920/Back_We_Have.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#we_have div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#we_have #warning div {
  display: flex;
  overflow: hidden;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffbc00;
  border-radius: 1.041vw;
  width: 78.22vw;
  height: 6.87vw;
  padding: 0 1vw 0 1vw;
  margin-bottom: 2vw;
}

#we_have #warning h1 {
  color: #000;
  text-align: center;
  line-height: 2.34vw;
  margin: auto 0 auto 0;
}

#we_have #warning img {
  height: 5.83vw;
}

#we_have #warning img:nth-of-type(1) {
  animation: Warning_1 10s infinite;
}

#we_have #warning img:nth-of-type(2) {
  animation: Warning_2 10s infinite;
}

#we_have h2 {
  text-align: center;
}

/* #comic_2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 0 1.041vw 0 1.041vw;
} */

#comic_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 0 1.041vw 0 1.041vw;
}

#wetro {
  width: 100vw;
  height: 15.1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  padding: 4.17vw;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background-image: url(../Images/1920/Back_Wetro.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -9vw; */
  background-position: center;
}

#wetro div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-right: 12vw;
}

#comic_3 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#searching {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 38.12vw;
  width: 100vw;
  background-image: url(../Images/1920/Back_Searching.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#searching_area {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  height: 29.79vw;
  width: 71.97vw;
  background-color: #00ae4d;
  margin: 2.08vw auto 2.08vw auto;
  border-radius: 1.041vw;
  padding: 0 0 2.08vw 2.08vw;
}

#clocks {
  width: 67.81vw;
  height: 15.41vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1.21vw;
}

#clocks img {
  width: 15.41vw;
  height: 15.41vw;
  background-size: cover;
  animation: Time 5s infinite ease-in-out forwards;
}

#clocks img:hover,
#clocks img:active {
  animation-play-state: paused;
}

#final {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 15.1vw;
  width: 100vw;
  margin: 0 auto 0 auto;
  text-align: center;
  background-image: url(../Images/Back_Final.png);
  background-size: contain;
  background-position-x: center;
}

#comic_4 {
  height: 65.62vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.041vw 0 1.041vw;
}

#comic_4 #vertical {
  height: 65.62vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  padding: 0 0 0 1.041vw;
}

#comic_5 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  height: 29.94vw;
  font-size: 2.083vw;
  background-image: url(../Images/Back_Footer.png);
  background-position-x: center;
  background-position-y: -3vw;
  background-repeat: no-repeat;
  background-size: contain;
}

#footer #left_footer {
  width: 27.29vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  text-align: left;
  padding-left: 1.041vw;
}

#footer #left_footer a {
  font-size: 2.083vw;
  color: #ffbc00;
}

#footer #right_footer {
  width: 27.29vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 1.041vw;
}

#footer #right_footer a {
  font-size: 2.083vw;
  color: #00ae4d;
}
